.cartContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
  position: relative;
  display: flex;
 
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-shadow: 2px 2px 4px gray;
  padding: 0.5rem;
  margin: 0.5rem;
}

.cartHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cardHeader p h3 {
  padding: 2rem 0;
}
.productInfo {
  display: flex;
}

.namePrice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1rem;
}

.text {
  text-align: left;
  font-size: 0.9rem;
}

.price {
  font-weight: bold;
}

.image {
  height: 50px;
  width: 50px;
  padding: 0.6rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.changeNumber {
  display: flex;
}

.addButton {
  padding: 0 0.6rem 0.5rem;
  background-color: #d4d4d4;

  border-radius: 0 0.5rem 0.5rem 0;
  height: 1.5rem;
}

.minusButton {
  composes: addButton;

  border-radius: 0.5rem 0 0 0.5rem;
}

.deleteButton {
  background-color: darkred;
  /* border-radius: .5rem; */
  padding: 0.2rem 0.2rem 0.05rem;
  width: fit-content;
  margin: 0.1rem;
  color: white;
  align-self: flex-end;
}

.deleteButton:hover {
  background-color: lightpink;

  color: black;
}

.deleteButton:active {
  transform: translate(1px, 1px);
}

.productNumber {
  width: 1.5rem;
  padding: 0.3rem 0.3rem 0.1rem 0.3rem;
  border: none;
  background-color: #d4d4d4;
  height: 1.1rem;
  font-size: 0.7rem;
}

.minusButton:hover,
.addButton:hover,
.productNumber:hover {
  background-color: #535252;
  color: white;
}

.cartFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.total {
  font-weight: bold;
}

.payNow {
  background-color: crimson;
  color: white;
  padding: 0.4rem 1rem;
  box-shadow: 1px 1px 1px gray;
  outline: none;
  border: none;
}

.payNow:hover {
  background-color: orange;
  outline: none;
  border: none;
}

.payNow:active {
  transform: translate(1px);
  outline: none;
  border: none;
}

@media(max-width:450px){
    div{display: block !important}
    .changeNumber{
        display: flex !important;
        justify-content: center;
    }
    
}
