.p{
    text-transform: capitalize;
    padding: 0.2rem .6rem;
    background-color:none;

    margin: .1rem 0;
}

.categories{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
}

