img {
  width: 120px;
  height: 120px;
}

@media (max-width: 400px) {
  img {
    width: 100px;
    height: 100px;
  }
}

.shopContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 2px 2px 4px gray;
  padding: 1.2rem 0 0 0;
  margin: 0.5rem;
}

.productName {
  margin: 0.5rem 1rem 0 1rem;
  padding: 0 1rem 0 1rem;
}

.input {
  width: 1.5rem;
  padding: 0.2rem 0.5rem 0.2rem 1.8rem;
  border: none;
  background-color: #b1b0b0;
}

.changeButton {
  padding: 0 0.6rem 0.2rem;
  border: #b1b0b0 solid 0.2px;
  margin: 0 0.1rem;
}

.addButton {
  padding: 0.3rem 0.6rem 0.5rem;
  background-color: #b1b0b0;
  margin: 0 0.1rem 0 0;
  border-radius: 0 0.5rem 0.5rem 0;
}

.minusButton {
  padding: 0.3rem 0.6rem 0.5rem;
  background-color: #b1b0b0;
  margin: 0 0 0 0.1rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.minusButton:hover,
.addButton:hover,
.input:hover {
  background-color: #535252;
  color: white;
}

.input:focus {
  background-color: white;
  color: black;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.addToCartButton {
  padding: 0.4rem;
  background-color: darkblue;
  color: white;
  margin-top: 1rem;
  border: none;
  border-radius: 0;
  width: 100%;
}

.addToCartButton:hover {
  background-color: crimson;
  color: white;
}

.hoverText {
  visibility: hidden;
}

.hoverText:hover {
  visibility: visible;
}

.imgContainer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.caption {
  position: absolute;
  font-style: italic;
  visibility: hidden;
  font-size: 0.8rem;
  bottom: 0;
  right: 0;

  opacity: 0;
  padding: 1rem;
  box-shadow: 2px 2px 2px;
  border-radius: 0.2em;
}

/* .caption:hover{
    visibility: visible;
    opacity: 1;
    height:fit-content;
   position: relative;
   width: 50%;
   
    background-color: white;
} */

/* .img:hover{
    position: relative;
    left:0; */
