/* *{
    border: gray solid 0.5px;
} */

.navContainer{
    background-color:rgb(66, 66, 148);
    color: white;
    z-index: 1;
     position:fixed;
        top: 0;
    left: 0;
    right: 0;
    padding: 0 3rem;
}

.link{
 font-weight: 500;
  color: white;
  text-decoration: none;
}



.nav{
 background-color: rgb(66, 66, 148);
    color: white;

   margin: 0 auto;
   display: flex;
    justify-content: space-between;

  z-index: 0;
   

    margin-bottom: .2em;
    opacity: 1;
   
    
 
    
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} */
/* a:hover {
  color: #535bf2;
} */