/* *{
    border: gray solid 0.5px;
} */

.navContainer{
    background-color: white;
    z-index: 1;
     position:fixed;
        top: 0;
    left:3rem;
    right: 3rem;
}

.nav{
 
  
   margin: 0 auto;
   display: flex;
    justify-content: space-between;

  
   
    background-color: white;
    margin-bottom: .2em;
    opacity: 1;
   
    
 
    
}

