
.navContainer {
  background-color: rgb(66, 66, 148);
  color: white;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.2rem 3rem 0;
}

.Icon {
  position: relative;
  top: 0.2rem;
  margin: 0 0.1rem;
}

.link {
  font-weight: 500;
  color: white;
  text-decoration: none;
  position: relative;
  padding: 0.1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

@media (max-width: 350px) {
  .link {
    font-size: 0.8rem;
  }
  .nav-container {
    padding: 0;
  }

  .Icon {
    height: 16px;
  }

  .cartNumber {
    font-size: 0.6rem;
    padding: 0 0.1rem;
  }
}

.link:hover {
  background-color: white;
  color: rgb(66, 66, 148);
}

.nav {
  background-color: rgb(66, 66, 148);
  color: white;
  max-width: 870px;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  z-index: 0;

  margin-bottom: 0.2em;
  opacity: 1;
}

.cartNumber {
  position: relative;
  font-size: 0.8rem;
  background-color: white;
  color: rgb(66, 66, 148);
  padding: 0 0.25rem;
  border-radius: 35%;
  top: 0.2rem;
}
